@use 'sass:math';

body {
  overflow-x: hidden;
}

$particleSize: 100vmax;
.particle-circular {
  width: $particleSize;
  height: $particleSize;
  z-index: -20;
  border-radius: 9999px;
  position: absolute;
  backface-visibility: hidden;
  background-image: radial-gradient(#1E97FB80 0%, #1e98fb30 57%, #1e98fb00 70%);

  &:is(.dark *) {
    background-image: radial-gradient(#03549660 0%, #1E97FB07 57%, #1E97FB00 70%);
  }
}

.particle-half-circular {
  z-index: -20;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 9999px 9999px 0 0;
  background: #1e98fb44;
  filter: blur(50px);

  &:is(.dark *) {
    background: #03549660;
  }
}

.particle-origin-top-left {
  transform-origin: 60% 40%;
  animation-duration: calc(math.random(6 * 10) / 10) * 1s + 5s;
}

.particle-origin-bottom-right {
  transform-origin: 40% 60%;
  animation-duration: calc(math.random(6 * 10) / 10) * 1s + 5s;
}

$smParticleSize: 50vmax;
.particle-sm {
  width: $particleSize;
  height: $particleSize;
}

.particle-animate-rotate {
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes move {
  100% {
    transform: translate3d(0vw, 0vw, 1px) rotate(360deg);
  }
}